// header navbar
// -------------

.navbar-header .navbar-inner {
  .brand {
    margin-right: 50px;
  }

  .nav-account,
  .header-actions {
    float: right;
  }

  .header-actions .btn{
    margin-left: 5px;
  }
}

// main container
// --------------

.container-main {
  padding: 30px 0;
}

// sticky footer
// -------------

@footerHeight: 200px;

html, body {
  height: 100%;
}

.sticky-footer-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -@footerHeight;
}

.sticky-footer-push, footer {
  height: @footerHeight;
}

// force vertical scrollbar
// ------------------------

html {
  overflow-y: scroll;
}
