// header navbar
// -------------


// main container
// --------------


// sticky footer
// -------------

@footer-height: 200px;

html, body {
  height: 100%;
}

.sticky-footer-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -@footer-height;
}

.sticky-footer-push, footer {
  height: @footer-height;
}

// force vertical scrollbar
// ------------------------

html {
  overflow-y: scroll;
}
