// layout
// ------

// header navbar
// -------------

.navbar-header {
  .nav-user {
    float: right;
    .link-user {
      display: inline-block;
      .ie7-inline-block();
    }
  }
}

// main container
// --------------

.container-main {
  padding: 30px 0;
}

// sticky footer
// -------------

@footerHeight: 200px;

html, body {
  height: 100%;
}

.sticky-footer-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -@footerHeight;
}

.sticky-footer-push, footer {
  height: @footerHeight;
}

// force vertical scrollbar
// ------------------------

html {
  overflow-y: scroll;
}
